// NOTES
// font-size: rem
// width: % in combination with a max-width, ch
// height: question urself "do i rly need to set height" if yes -> use a min-height
// padding/margin: rem or em, kevin often uses em for padding of buttons
// media queries: em

// EMs - Font size of the parent
// REMs - Font size of the root element.

$primary: #fafafa;
$secondary: #212121;

@import "./layout/responsive_mixin";
@import "./layout/icons";

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  width: 100%;

  display: flex;
  font-family: Arial, Helvetica, sans-serifs;
  position: relative;

  .bg {
    width: inherit;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $primary;
    transition: background-color 0.4s ease-out;
  }

  // DEFAULT STYLES
  [id*="exhibit-"] {
    height: 100vh;
    display: grid;

    h1 {
      transition: margin 0.4s ease-out;
      margin-top: 30%;
      font-style: italic;
      padding: 1.5em;
    }

    button {
      padding: 1em 3em;
      cursor: pointer;
      width: 12em;
      border-radius: 30px;

      font-weight: bold;
      font-size: 1em;
      border: 3px solid $secondary;
      background-color: transparent;
    }

    @import "./layout/codes";

    @include responsive_desktop() {
      max-width: 60%;
      button {
        margin: 1rem 3rem;
      }
    }

    @include responsive_mobile() {
      div {
        display: grid;
        place-items: center;

        button {
          width: 80%;
          margin: 1rem 0;
        }
      }
    }
  }

  // NAVBAR STYLES
  @import "./layout/navbar";

  #container-sections {
    width: 100%;
    height: max-content;
    display: grid;
    place-items: center;

    // ANIMATE OTHERS
    #exhibit-1 {
      .exhibit-content {
        pointer-events: none;
        button {
          pointer-events: auto;
          transition: background-color 0.3s ease-out;
        }

        &:hover > button:not(:hover) {
          color: white;
          background-color: black;
        }
      }
    }

    // SLIDE IN
    #exhibit-2 {
      button {
        position: relative;
        overflow: hidden;
        z-index: 1;

        &:hover {
          color: $primary;
        }
        &::before {
          z-index: -1;
          position: absolute;
          content: "";
          height: 100%;
          width: 100%;
          background-color: $secondary;
          transition: all 0.4s ease-out;
        }
      }

      #btn-left {
        &::before {
          top: 0;
          left: -100%;
        }
        &:hover::before {
          left: 0;
        }
      }

      #btn-top {
        &::before {
          top: -100%;
          left: 0;
        }
        &:hover::before {
          top: 0;
        }
      }

      #btn-right {
        &::before {
          top: 0;
          left: 100%;
        }
        &:hover::before {
          left: 0;
        }
      }

      #btn-bottom {
        &::before {
          top: 100%;
          left: 0;
        }
        &:hover::before {
          top: 0;
        }
      }
    }
  }
}

// ==== TOOLTIPS ====
.tooltip {
  width: max-content;
  height: max-content;
  position: absolute;
  top: -38px;
  padding: 0.7em;
  font-size: 0.6em;
  font-weight: bold;
  color: $primary;
  background-color: $secondary;
  border-radius: 30px;
  display: none;

  &::after {
    content: "";
    position: absolute;
    right: 43%;
    top: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 6px 6px;
    border-color: transparent transparent $secondary;
    transform: rotate(180deg);
  }
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: rgba(0, 0, 0, 0.555);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.555);
  border-radius: 10px;
}

// ==== ANIMATIONS ====
// @keyframes testAnimation {
//   0% {

//   }
//   100% {

//   }
// }
